/node_modules/
*.pyc
/Django-practice/learning_log/11_env/
/Flask-practice/flask-demo/11env/
/Flask-practice/flaskr/flaskrenv/
*.sqlite
*.class
/AwesomeProjectNative/android/
/AwesomeProjectNative/ios/
/react-learning/node_modules/
/react-learning/.cache/
/react-learning/dist/
/ML/venv/*
!/ML/venv/*.py
/ML/env1/*
!/ML/env1/*.py
!/ML/env1/*.sh
/mongoDB/config.js

# nest-practice
/nest-practice/src/common/dubbo/dubbo.config.ts