<!doctype html>
<html>
<title>Register</title>

<head>
</head>

<body>
    <label for="email">email</label>
    <input id="email" type="text" name="email">
    <label for="password">password</label>
    <input id="password" type="password" name="password">
    <button id="submit" type="submit">register</button>
    <button id="test" type="submit">test</button>
    <p id="result"></p>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <script>
        const btn = document.querySelector('#submit')
        const test = document.querySelector('#test')
        const email = document.querySelector('#email')
        const password = document.querySelector('#password')
        const result = document.querySelector('#result')
        btn.addEventListener('click', () => {
            axios.post('/api/v1/user/register', {
                    email: email.value,
                    password: password.value
                })
                .then(res => {
                    console.log(res)
                    result.innerHTML = res.data.msg
                })
                .catch(err => {
                    console.log(err.response)

                })
        })
        test.addEventListener('click', () => {
            axios.get('/api/v1/book/get', )
                .then(res => {
                    console.log(res)
                })
                .catch(err => {
                    console.log(err)
                })
        })
    </script>
</body>

</html>